networks:
  frontend-net:
    driver: bridge
  backend-net:
    driver: bridge

services:
  mongodb:
    image: mongo:latest
    container_name: tinyurl-clone-mongo
    networks:
      - backend-net
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: tinyurl-clone-backend
    ports:
      - "${PORT}:8000"
    env_file:
      - ./backend/.env
      - .env
    environment:
      - MONGO_URL=${MONGO_URL}
    networks:
      - frontend-net
      - backend-net
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    container_name: tinyurl-clone-frontend
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - frontend-net
    depends_on:
      - backend

volumes:
  mongo_data:
    driver: local